@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


 
  .clip-ellipse {
    clip-path: ellipse(50% 50% at 50% 50%);
  }

  .transition-transform {
    transition: transform 1s ease-in-out;
  }
